# 02장 연습문제
***

## Q1
***
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

과목 | 점수
---- | ----
국어 | 80
영어 | 75
수학 | 55

In [21]:
(80+75+55)/3

70.0

## Q2
***
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [22]:
13%2

1

나머지 1 - 홀수

## Q3
***
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.<br>
※ 문자열 슬라이싱 기법을 사용해 보자.

In [23]:
pin="881120-1068234"
YYYYMMDD=pin[0:6]
print(YYYYMMDD)
print(pin[7:])

881120
1068234

## Q4
***
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [24]:
pin="881120-1068234"

※ 문자열 인덱싱을 사용해 보자.

In [25]:
print(pin[7])

1

## Q5
***
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [26]:
a="a:b:c:d"

In [27]:
print(a.replace(":","#"))

a#b#c#d

## Q6
***
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.<br>
※ 리스트의 내장 함수를 사용해 보자.

In [28]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## Q7
***
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.<br>
※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [29]:
a=['Life', 'is', 'too', 'short']
print(" ".join(a))

Life is too short

## Q8
***
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.<br>
※ 더하기(+)를 사용해 보자.

In [30]:
a=(1, 2, 3)
b=(4,)
print(a+b)

(1, 2, 3, 4)

## Q9
***
다음과 같은 딕셔너리 a가 있다.

In [31]:
a=dict()
a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
1. a['name'] = 'python'
1. a[('a',)] = 'python'
1. a[[1]] = 'python'
1. a[250] = 'python'

In [32]:
#딕셔너리의 key는 변하지 않는 값을 사용하는데 3.의 [1]은 리스트로, 변하는 값이다.
a[[1]] = 'python'

TypeError: unhashable type: 'list'

## Q10
***
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [33]:
a = {'A':90, 'B':80, 'C':70}

※ 딕셔너리의 pop 함수를 사용해 보자.

In [34]:
a.pop("B")

80

## Q11
***
a 리스트에서 중복 숫자를 제거해 보자.

In [35]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [36]:
b=set(a)
print(list(b))

[1, 2, 3, 4, 5]

## Q12
***
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [37]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

a와 b 모두 [1,2,3]의 리스트를 참조하는 변수이므로 a와 b는 완전히 같다.

<br><br>

# 03장 연습문제
***

## Q1
***
다음 코드의 결괏값은 무엇일까?

In [38]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

조건문을 순서대로 수행해서 shirt가 출력된다

## Q2
***
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [39]:
sum=0
i=0

while i<=1000:
    if i%3==0:
        sum=sum+i
    i=i+1
    
print(sum)

166833

## Q3
***
while문을 사용하여 다음과 같이 별( * )을 표시하는 프로그램을 작성해보자.

\* <br>
\*\* <br>
\*\*\* <br>
\*\*\*\* <br>
\*\*\*\*\* <br>

In [40]:
i=1
while i<=5:
    print("*"*i)
    i=i+1

*
**
***
****
*****

## Q4
***
for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [41]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5
***
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.<br><br>
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]<br><br>
for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [42]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for i in a:
    sum=sum+i
avg=sum/len(a)
avg

79.0

## Q6
***
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [43]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [44]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]